/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
outline: none;
}
form {
	text-align: center;
	margin: 50px;
}
button{
	margin-top: 25px;
}
#display  div{
	margin: 15px 0 0 25px;
	width: 30%;
	display: inline-block;
}
titleDiv titleText{
	display: block;
}
